body{
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
footer{
	border-top: #d6d6d6 solid .1em;
	margin-top: 3em;
	padding: 1.5em;
	text-align: center;
}
footer .footerText{
	color: #adadad;
	font-size: 15px;
}
footer .bold{
	color: black;
	font-weight: bold;
	text-decoration: none;
}
header{
	border-bottom: #d6d6d6 solid .1em;
	margin-bottom: 3em;
}
.itemMenu{
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.itemMenu:hover, .bold:hover{
	border-color: #22bdbd;
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 4px;
}
.logo{
	background-image: url("../image/a.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width:  110px;
	margin: 0 0 0 2em;
	background-color: #22bdbd;
}
.menu{
	display: inline-block;
	vertical-align: top;
	padding: 2.5em 0 0 2em;
}
.menu ul{
	padding: 0;
	margin: 0;
}
.menu ul li{
	list-style: none;
	padding-right: 1em;
	display: inline-block;
}
.sectionApps{
	text-align: center;
}
.showApp{
	padding: 3em;
	display: inline-block;

}
.idioma{
	right: 0;
	position: absolute;
	text-align: right;
	padding: 2.5em 2.5em 0 0;
}
.leng{
	text-decoration: none;
	color: black;
	padding-left: .5em;
}
.leng:hover{
	color: #22bdbd;
}
.showApp:hover{
	background-color: #e0e0e0;
}
.bache{
	background-image: url("../image/example.png");
}

.imageApp{
	width: 260px;
	height: 260px;
	border-radius: 23%;
	background-size: cover;
	background-position: center;
}
.catch{
	border: #d6d6d6 solid .1em;
	background-image: url("../image/catch.png");
}

/*Us*/

.sectionUs{
	text-align: center;
}
.sectionUsText{
	font-size: 18px;
	margin: auto;
	padding: 5.4em 0; 
	text-align: justify;
	width: 608px;
}
.sectionUsText a{
	text-decoration: none;
	color: #22bdbd;
}
.sectionUsText a:hover{
	color: #1F8B8B;
}


