body{
	font-size: 16px;
	color: black;
	font-family: Arial;
}
footer{
	border-top: #d6d6d6 solid .1em;
	padding: 1.5em;
	text-align: center;
	margin-top: 1em;
}
footer .footerText{
	color: #adadad;
	font-size: 15px;
}
footer .bold{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
header{
	border-bottom: #d6d6d6 solid .1em;
	margin-bottom: 1em;
}
.itemMenu{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
.itemMenu:hover, .bold:hover{
	border-color: #22bdbd;
	border-style: solid;
    border-width: 0px;
    border-bottom-width: 4px;
    text-decoration: none;
    color: #000000;
}
.logo{
	background-image: url("../image/a.png");
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width:  110px;
	margin: 0 0 0 2em;
	background-color: #22bdbd;
}
.menu{
	display: inline-block;
	vertical-align: top;
	padding: 2.5em 0 0 2em;
}
.menu ul{
	padding: 0;
	margin: 0;
}
.menu ul li{
	list-style: none;
	padding-right: 1em;
	display: inline-block;
}
.sectionApps{
	text-align: center;
}
.showApp{
	margin: 0em auto;
	padding: 4em;
	display: inline-block;
}
.showApp:hover{
	background-color: #e0e0e0;
	margin: 0em auto;
	padding: 4em;
	display: inline-block;
}
.imageApp{
	width: 300px;
	height: 300px;
	border-radius: 23%;
	background-image: url();
	background-color: gray;
	background-position: center;
	margin: 0em auto;
}
.imageApp img{
	width: 400px;
}